[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
dependencies = [
  "betterdata",
  "easyselect",
  "gmanka_yml",
  "pyrogram",
  "tgcrypto",
  "humanize",
  "rich",
]
name = "reposter"
version = "22.1.10"
authors = [
  { name="gmanka", email="gmankab@gmail.com" },
]
description = "python script for reposting messages from telegram channels"
readme = "readme.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/gmankab/reposter"
"Documentation" = "https://github.com/gmankab/reposter"
"Bug Tracker" = "https://github.com/gmankab/reposter/issues"
